extend layout 

block content 
    h1=title 

    form(method="POST")
        label(for="category")
        input#category.form-control(type="text" name="category" placeholder="Tops, jeans etc" required value=(category===undefined ? '' : category.name))
        btn.btn.btn-primary(type="submit") Submit

    if errors
        ul 
            for error in errors 
                li=error