extend layout 

block content 

    h1=title 

    form(method="POST" action='')
        div.form-group
            label(for="size")
            input#size.form-control(type="text" name="size" placeholder="XS, S, M etc" value=(size === undefined ? '' : size.name) required)
        button.btn.btn-primary(type="submit") Submit 